.formDiv {
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 0.2rem;
    padding-top: 2rem;
    width: 85rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(234, 236, 241, 0.9);
    color: var(--buttons);
}

.inputGral {
    font-size: medium;
    width: 30rem;
}

.labelForm {
    font-size: medium;
}

.inputNumber {
    font-size: medium;
    width: 11rem;
}

.tempDiv {
    font-size: medium;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.tempCheck {
    margin: 0.7rem;
}

.tempP {
    margin: 0.3rem;
    color: var(--buttons);
    background-color: var(--secundario);
    border-radius: 8px;
    padding-left: 0.5rem;
    cursor:
    ;
}

.tempP:hover {
    background-color: var(--highlights);
}