.bigDiv {
    display: flex;
    justify-content: space-around;
    padding-left: 7rem;
    padding-right: 7rem;
    margin-top: -4rem;
}

.spanTitle,
.selectBar {
    font-weight: 500;
    font-size: medium;
}