.barra {
    height: 10rem;
    margin-top: -2rem;
    padding-top: 2rem;
}

.newdog,
.onSearch,
.noFilter {
    font-size: medium;
    background-color: var(--buttons);
    color: var(--highlights);
    border: none
}

.input {
    font-size: medium;
    width: 21rem;
}