.bocetoDiv {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    background-color: rgba(234, 236, 241, 0.8);
    width: 40rem;
    color: var(--buttons)
}

.imgBoceto {
    height: 15rem;
    margin: 2rem;
}

.textBoceto {
    background-color: var(--highlights);
    font-size: medium;
    width: 40rem;
}

.warning {
    background-color: var(--primario);
    color: red
}

.newDog {
    border: none;
    cursor: pointer;
}

.newDog:hover .hide {
    display: inline;
}