.bocetoDiv {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    background-color: rgba(234, 236, 241, 0.8);
    width: 40rem;
}

.imgBoceto {
    height: 15rem;
    margin: 2rem;
}

.textBoceto {
    font-size: medium;
    margin-left: -16rem;
}

.warning {
    background-color: red;
}