.divCards {
    background-color: rgba(234, 236, 241, 0.7);
    display: flex;
    flex-wrap: wrap;
    max-width: 120rem;
    justify-content: space-evenly;
    padding-left: 3rem;
    padding-right: 3rem;
}